[MB2HAL_INIT]
MODBUS_DEBUG    = 0
HAL_MODULE_NAME = mb2hal
SLOWDOWN        = 0
TOTAL_TRANSACTIONS = 1

[TRANSACTION_00]
LINK_TYPE                = serial
SERIAL_PORT              = /dev/ttyFTDI_TC
SERIAL_BAUD              = 9600
SERIAL_BITS              = 8
SERIAL_PARITY            = even
SERIAL_STOP              = 1
MB_RESPONSE_TIMEOUT_MS   = 500
MAX_UPDATE_RATE          = 2

# Device
MB_SLAVE_ID              = 1
MB_TX_CODE               = fnct_03_read_holding_registers

# Read Input Registers (FC04) starting at address 5 (CH1 & CH2 engineering units)

FIRST_ELEMENT            = 14
NELEMENTS                = 1

# HAL pin names (created as mb2hal.<name>)
HAL_TX_NAME              = digirail-temp-ch1